.view {
    font-weight: 400;
    padding: 20px;
    width: 50%;
    max-height: calc(100vh - 120px);
    overflow-y: auto; 
    overflow-x: hidden;  
    background-color: #edeef0;
    color: #010409;
    h1,h2,h3,h4,h5,h6,p,a, ul,li{
        word-wrap: break-word;  
        white-space: normal;   
        overflow-wrap: break-word; 
    }
    @media(max-width: 560px) {
        width: 100%;
        min-height: 300px;
    }
  }
  