.ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:  10px;
    padding: 15px;
    background-color:  #fcb32c;
    color: #010409;
    list-style: none;
    li{
        cursor: pointer;
        &:hover{
            color: #00a2c7;
        }
        &:active{
            color: #7ce2fe;
        }
    }
    .copy{
        margin-left: 50px;
        font-size: 16px;
        font-family: bold;
        padding: 5px;
        border-radius: 3px;
        transform: translateY(-3px);
        &:hover{
            color: #0ca2c1;
        }
    }
    .copyAnimation{
        margin-left: 50px;
        font-size: 16px;
        font-family: bold;
        padding: 5px;
        border-radius: 3px;
        transform: translateY(-3px);
        &:hover{
            color: #0ca2c1;
        }
    }
    .active{
        margin-left: 50px;
        font-size: 16px;
        font-family: bold;
        padding: 5px;
        color: #0ca2c1;
        transform: translateY(-3px);
    }

    .mode{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #010409;
        color: #fcb32c;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 5px;
        border-radius: 3px;
    }
    .modeActive{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fcb32c;
        border: 1px solid #010409;
        color: #010409;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 5px;
        border-radius: 3px;
    }
    @media(max-width: 860px) {
        flex-wrap: wrap;
        gap: 15px;
      }
    @media (max-width: 560px){
        flex-wrap: wrap;
        gap: 15px;
    }
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }