.form{

}
.textarea{
    display: block;
    padding: 20px;
    width: 800px;
    height: 100%;
    background-color: #edeef0;
    color: #080000;
    border: none;
    font-size: 14px;
    line-height: 16px;
}
textarea:focus, input:focus{
    outline: none;
    overflow: hidden;
}