*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
ul[class],
ol[class] {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
